<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <!--<add key="DB_CONNECT" value="Data Source=USER01-PC;Initial Catalog=GymmasterOrg;User ID=sa;Password=user"/>-->
    <!--<add key="DB_CONNECT" value="Data Source=184.168.194.53;Initial Catalog=lucidplus_crmclone;User ID=crmcloneUSR01;Password=crmclonePWD01"/>-->
    <!--<add key="DB_CONNECT" value="Data Source=USER01-PC;Initial Catalog=lifelineCRM1019clone;User ID=sa;Password=user"/>-->
    <!--<add key="DB_CONNECT" value="Data Source=USER01-PC;Initial Catalog=testdb2;User ID=sa;Password=user"/>-->
    <!--<add key="db_connect" value="data source=user01-pc;initial catalog=gymsoft;user id=sa;password=user" />-->
    <!--<add key="db_connect" value="data source=user01-pc;initial catalog=lifelinecrm-9-Apr-15;user id=sa;password=user" />-->
    <!--<add key="db_connect" value="data source=user01-pc;initial catalog=lifelinecrm-13-Aug-15-copy;user id=sa;password=user" />-->
    <!--<add key="db_connect" value="data source=AJU\HPSERVER;initial catalog=lifelinecrm-31-Jul-15;user id=sa;password=user"/>-->
    <!--<add key="db_connect" value="data source=182.50.133.111;initial catalog=lplusfitness_db3;user id=db3USR01;password=db3PWD01"/>-->
    <!--<add key="DB_CONNECT_MYSQL" value="Database=lplusfitness_db2my;Port=3306;Persist Security Info=True;Data Source=182.50.133.91;User Id=db2myUSR01;Password=db2myPWD01;Allow Zero Datetime=True;"/>-->
    <!--Server-->
    <!--<add key="DB_CONNECT_MYSQL" value="Database=lucidplus_lifelinecrmmy;Port=3306;Persist Security Info=True;Data Source=50.62.209.117;User Id=myUSR01;Password=myPWD01;Allow Zero Datetime=True;"/>-->
    <!--<add key="DB_CONNECT_MOBILE" value="data source=LP1001-PC\SQLEXPRESS;initial catalog=lifelinecrm-1-sep-15;user id=sa;password=user"/>-->
    <!--hostgator-->
    <!--<add key="db_connect" value="data source=103.21.58.193;initial catalog=lifelinecrm_h;user id=lifelinecrmUSR01;password=lifelinecrmPWD01"/>
    <add key="DB_CONNECT_MYSQL" value="Database=lucidplus_lifelinecrmmy;Port=3306;Persist Security Info=True;Data Source=103.21.58.6;User Id=lifemyUSR01;Password=lifemyPWD01;Allow Zero Datetime=True;"/>-->
    <!--Local-->
    <!--<add key="DB_CONNECT_MYSQL" value="Database=lucidplus_lifelinecrmmy;Port=3306;Persist Security Info=True;Data Source=localhost;User Id=root;Password=;Allow Zero Datetime=True;"/>-->
    <!--<add key="db_connect" value="Database=hbooking;Port=3306;Persist Security Info=True;Data Source=182.50.133.89;User Id=hbookingUSR01;Password=hbookingPWD01"/>-->
    <!--<add key="db_connect_mysql" value="Database=ggcrm;Port=3306;Persist Security Info=True;Data Source=localhost;User Id=root;Password='';Allow Zero Datetime=True;"/>-->
    <!--<add key="db_connect_mysql" value="database=test_lifeline;port=3306;persist security info=true;data source=192.168.1.100;user id=fred;password=1234;allow zero datetime=true;"/>-->
   <!--<add key="db_connect_mysql" value="database=airline;port=3306;persist security info=true;data source=182.50.133.89;user id=airline;password=crmPWD012;allow zero datetime=true;"/>-->
      <add key="db_connect_mysql" value="database=ideal;port=3306;persist security info=true;data source=localhost;user id=root;password=;allow zero datetime=true;"/>
    <!--<add key="db_connect_mysql" value="Database=marwa;Port=3306;Persist Security Info=True;Data Source=182.50.133.91;User Id=marwa;Password=crmPWD01;Allow Zero Datetime=True;"/>-->
    <!--<add key="db_connect_mysql" value="Database=testggcrm;Port=3306;Persist Security Info=True;Data Source=localhost;User Id=root;Password=;Allow Zero Datetime=True;"/>-->
    <!--<add key="db_connect_mysql" value="Database=mj;Port=3306;Persist Security Info=True;Data Source=182.50.133.91;User Id=mjUSR01;Password=mjPWD01;Allow Zero Datetime=True;"/>-->
    <!--<add key="db_connect_mysql" value="Database=ggcrm;Port=3306;Persist Security Info=True;Data Source=182.50.133.89;User Id=ggcrmUSR01;Password=ggcrmPWD01;Allow Zero Datetime=True;"/>-->
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Device, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <membership defaultProvider="MySQLMembershipProvider">
      <providers>
        <remove name="MySQLMembershipProvider"/>
        <add name="MySQLMembershipProvider" type="MySql.Web.Security.MySQLMembershipProvider, MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="/" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7" minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile defaultProvider="MySQLProfileProvider">
      <providers>
        <remove name="MySQLProfileProvider"/>
        <add name="MySQLProfileProvider" type="MySql.Web.Profile.MySQLProfileProvider, MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/"/>
      </providers>
    </profile>
    <roleManager defaultProvider="MySQLRoleProvider">
      <providers>
        <remove name="MySQLRoleProvider"/>
        <add name="MySQLRoleProvider" type="MySql.Web.Security.MySQLRoleProvider, MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/"/>
      </providers>
    </roleManager>
    <siteMap defaultProvider="MySqlSiteMapProvider">
      <providers>
        <remove name="MySqlSiteMapProvider"/>
        <add name="MySqlSiteMapProvider" type="MySql.Web.SiteMap.MySqlSiteMapProvider, MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/"/>
      </providers>
    </siteMap>
    <webParts>
      <personalization defaultProvider="MySQLPersonalizationProvider">
        <providers>
          <remove name="MySQLPersonalizationProvider"/>
          <add name="MySQLPersonalizationProvider" type="MySql.Web.Personalization.MySqlPersonalizationProvider, MySql.Web, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" connectionStringName="LocalMySqlServer" applicationName="/"/>
        </providers>
      </personalization>
    </webParts>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
  <system.webServer>
    <httpProtocol>
      <customHeaders>

        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.7.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.6.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <remove name="LocalMySqlServer"/>
    <add name="LocalMySqlServer" connectionString="" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
</configuration>